<a href="https://colab.research.google.com/github/anafful/Data-Analysis-Projects/blob/main/Lab4_Panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("/content/drive/MyDrive/student.csv")

In [ ]:
# Returns information about the dataframe
# Column names, number of non-null values and data types
df.info()

# Returns the first five rows of the dataframe
df.head()

# Returns the n-first rows of the dataframe
df.head(10)

# Returns the number of rows and columns as a tuple
df.shape

# Returns statistical analysis on appropriate columns
df.describe()

# Returns the mean of a dataframe -> not working
# because all columns are not numerical
df['mark'].mean()

<class 'pandas.core.series.Series'>

    id         name
0    1     John Deo
2    3       Arnold
4    5    John Mike
6    7  My John Rob
8    9      Tes Qry
10  11       Ronald
12  13          Kty
14  15     Tade Row
16  17        Tumyu
18  19        Tinny
20  21   Babby John
22  23        Herod
24  25     Giff Tow
26  27          NaN
28  29  Tess Played
30  31  Marry Toeey
32  33    Kenn Rein
34  35   Rows Noump

Selecting Data

Columns

In [ ]:
# Return only one column
df['class']
print(type(df['class']))

# Return more than one column
# We need to use double square brackets because
# return value is dataframe
df[['class', 'gender']]

# Selecting rows with iloc
df.iloc[2] # one row at index 2
df.iloc[2:4] # rows starting at index 2, up until index 4 (excluded)

# Select columns with iloc
df.iloc[:, 0] # all rows and one column at index 0
df.iloc[:, 0:2] # all rows and two first columns

# Select rows and columns with iloc
df.iloc[0:2, 0:2] # first 2 rows and first two columns
df.iloc[::2, 0:2] # every other rows, first two columns

<class 'pandas.core.series.Series'>

    id         name
0    1     John Deo
2    3       Arnold
4    5    John Mike
6    7  My John Rob
8    9      Tes Qry
10  11       Ronald
12  13          Kty
14  15     Tade Row
16  17        Tumyu
18  19        Tinny
20  21   Babby John
22  23        Herod
24  25     Giff Tow
26  27          NaN
28  29  Tess Played
30  31  Marry Toeey
32  33    Kenn Rein
34  35   Rows Noump

In [7]:
# Selecting rows with loc
df.loc[2]
df.loc[2:4]

# Select columns with loc
df.loc[:, 'mark'] # one column -> no double square brackets
df.loc[:, 'id':'class'] # multiple columms, slice notation -> stop is included
df.loc[:, ['name', 'mark']] # multiple columns, list notation -> double square brackets

           name  mark
0      John Deo    75
1      Max Ruin    85
2        Arnold    55
3    Krish Star    60
4     John Mike    60
5     Alex John    55
6   My John Rob    78
7        Asruid    85
8       Tes Qry    78
9      Big John    55
10       Ronald    89
11        Recky    94
12          Kty    88
13         Bigy    88
14     Tade Row    88
15        Gimmy    88
16        Tumyu    54
17        Honny    75
18        Tinny    18
19       Jackly    65
20   Babby John    69
21       Reggid    55
22        Herod    79
23    Tiddy Now    78
24     Giff Tow    88
25       Crelea    79
26          NaN    81
27    Rojj Base    86
28  Tess Played    55
29    Reppy Red    79
30  Marry Toeey    88
31    Binn Rott    90
32    Kenn Rein    96
33     Gain Toe    69
34   Rows Noump    88

In [ ]:
# Check for null values in a Series
df['class'].isnull()

# Find the null values
df[df['class'].isnull()]

# Find the number of null values in a column
df['class'].isnull().sum()

# Find the number of null values per column in a dataframe
df.isnull().sum()

# Find the total number of null values in a dataframe
df.isnull().sum().sum()

In [ ]:
df['passed'] = df['mark'] > 60

##You dont need to create variable to define its duplicate of the table to make changes
df_score = df.rename(columns={'mark': 'score'})

df_score.head()
df_score.drop(columns=['passed'])
df_score.head()

   id        name  class  score  gender  passed
0   1    John Deo   Four     75  female    True
1   2    Max Ruin  Three     85    male    True
2   3      Arnold  Three     55    male   False
3   4  Krish Star   Four     60  female   False
4   5   John Mike   Four     60  female   False

In [ ]:
df_score['class'].value_counts() # selecting column [] and function
df_score.groupby('gender')['score'].mean() #selecting the function and column and selecting another column to find average

In [ ]:
df.groupby('class')['mark'].mean()
df.head()

df['class'].value_counts()

class
Seven    10
Four      8
Six       7
Three     3
Nine      2
Five      2
Fifth     1
Eight     1
Name: count, dtype: int64